
body{
    margin: 0;
    background: #dadce6;      
}

nav{
    display: flex;
    justify-content: flex-end;
    padding: 40px 70px;
    background-color: #f44336;
    border-radius: 22px;
}


.nav-links ul{
    margin: 0;
    padding: 0;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
}
.nav-links ul li a:hover{
    color: black;
    text-decoration: none;

}


.nav-links ul li::after{
    content: "";
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.3s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.main{
    display: flex;
    padding: 15px;
justify-content: center;
flex-wrap: wrap;
gap: 40px;
margin: auto;
    
}
.card{
    box-shadow: 0 10px 25px;
    margin: 20px;
    overflow: hidden;
    text-align: center;
    background-color: aqua;
    border-radius: 16px;
    transition: 0.4s ease;
    
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(red, green, blue, alpha);
}
.title{
    text-align: center;
    margin: 40px 0;
    font-size: 32px;
    color: yellowgreen;
    letter-spacing: 1px;
    font-weight: 600;
    background-color: bisque;
    border-radius: 22px;
}
.btn{
    display: inline-block;
    margin: 15px 0 20px;
    background: #f44336;
    color: darkgreen;
    text-decoration: none;
    border-radius: 30px;
    font-size: 14px;
    transition: 0.3s;
}
.btn:hover{
    background-color:yellow;
}
.footer{
    background: #0b504a;
    color: burlywood;
    padding: 50px 20px 20px;
    margin: 60px;
    border-radius: 15px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    gap: 40px;
}
.footer-section{
    width: 230px;
}
.footer-section h3{
    font-size: 20px;
    margin-bottom: 15px;
    color: orange;

}
.footer-section ul li a{
    color: #dadce6;
    text-decoration: none;
    transition: 0.3s;
}
.footer-section ul li a:hover{
    color: darkgreen;

}
.footer-section p{
    color: darkmagenta;
    font-size: 14px;
    line-height: 1.6;
}
.footer .copy{
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
    color: yellow;
}
.edu{
text-align: center;
}
